In [ ]:
import pandas as pd
df = pd.DataFrame([[32, 24, 30, 40], [17, 24, 21, 28], [50, 25, 28, 32],
                   [25, 34, 21, 48], [17, 31, 18, 28], [35, 24, 19, 42]],
                  columns=['Physics', 'Chemistry', 'Biology', 'Maths'],
                  index=['Student-1', 'Student-2', 'Student-3', 'Student-4',
                         'Student-5', 'Student-6'])
df

           Physics  Chemistry  Biology  Maths
Student-1       32         24       30     40
Student-2       17         24       21     28
Student-3       50         25       28     32
Student-4       25         34       21     48
Student-5       17         31       18     28
Student-6       35         24       19     42

In [ ]:
df.mean()

Physics      29.333333
Chemistry    27.000000
Biology      22.833333
Maths        36.333333
dtype: float64

In [ ]:
df.median()

Physics      28.5
Chemistry    24.5
Biology      21.0
Maths        36.0
dtype: float64

In [ ]:
df.mode()

   Physics  Chemistry  Biology  Maths
0       17         24       21     28

In [ ]:
df.describe()

         Physics  Chemistry    Biology      Maths
count   6.000000    6.00000   6.000000   6.000000
mean   29.333333   27.00000  22.833333  36.333333
std    12.564500    4.38178   4.956477   8.238123
min    17.000000   24.00000  18.000000  28.000000
25%    19.000000   24.00000  19.500000  29.000000
50%    28.500000   24.50000  21.000000  36.000000
75%    34.250000   29.50000  26.250000  41.500000
max    50.000000   34.00000  30.000000  48.000000