In [6]:
import pandas as pd
import numpy as np

#dataframe with some dummy data
df = pd.DataFrame({
    'column1': [1, 2, 3, 4, 5],
    'column2': ['a', 'b', 'c', np.nan, 'e'],
    'column3': [1.1, np.nan, 3.3, 4.4, 5.5],
    'column4': ['x', 'y', 'z', 'w', 't'],
})

print(df.dtypes)
print(df.isnull().sum())

column1      int64
column2     object
column3    float64
column4     object
dtype: object
column1    0
column2    1
column3    1
column4    0
dtype: int64